{
  "layer": "top",
  "position": "top",
  "modules-left": ["hyprland/workspaces", "hyprland/window"],
  "modules-center": [],
  "modules-right": ["pulseaudio", "network", "clock"],

  "clock": {
    "format": "{:%a %d %b %H:%M}"
  },
  "pulseaudio": {
    "format": "{volume}% ",
    "format-muted": ""
  },
  "network": {
    "format-wifi": "  {essid}",
    "format-ethernet": "  {ifname}",
    "format-disconnected": "  Disconnected"
  }
}
